{% extends "base.html" %}
{% block content %}
<div>
    <div class="col-12 contents">

        <div class="content">
            <img src="../../static/images/dice.png" class="content_image">
            <div class="content_title">サイコロを作ろう①</div>
            <div class="content_sub_title">HTMLでサイトの枠組みを作ろう</div>
            <div class="done_button">
                <div>学習済み<i class="fa-solid fa-check fa-xs" style="color: #ffffff;"></i></div>
                <div>
                    <span style="font-size:15px">理解度</span>
                    <i class="fa-solid fa-star fa-sm" style="color:#ffcd00"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:#ffcd00"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:#ffcd00"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:#ffcd00"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:gray"></i>
                </div>
            </div>
        </div>

        <div class="content">
            <img src="../../static/images/dice.png" class="content_image">
            <div class="content_title">サイコロを作ろう②</div>
            <div class="content_sub_title">JavaScriptでランダムに結果を表示しよう</div>
            <div class="done_button">
                <div>学習済み<i class="fa-solid fa-check fa-xs" style="color: #ffffff;"></i></div>
                <div>
                    <span style="font-size:15px">理解度</span>
                    <i class="fa-solid fa-star fa-sm" style="color:#ffcd00"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:#ffcd00"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:#ffcd00"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:gray"></i>
                    <i class="fa-solid fa-star fa-sm" style="color:gray"></i>
                </div>
            </div>
        </div>

        <div class="content">
            <img src="../../static/images/dice.png" class="content_image">
            <div class="content_title">サイコロを作ろう③</div>
            <div class="content_sub_title">おみくじやガチャなど、好きなものに改造してみよう</div>
            <div class="start_button">
                <div>学習を開始 <i class="fa-solid fa-play fa-xs" style="color: #ffffff;"></i></div>
            </div>
        </div>


        <div class="content">
            <img src="../../static/images/dice.png" class="content_image">
            <div class="content_title">サイコロを作ろう③</div>
            <div class="content_sub_title">おみくじやガチャなど、好きなものに改造してみよう</div>
            <div class="start_button">
                <div>学習を開始 <i class="fa-solid fa-play fa-xs" style="color: #ffffff;"></i></div>
            </div>
        </div>


        <div class="content">
            <img src="../../static/images/dice.png" class="content_image">
            <div class="content_title">サイコロを作ろう③</div>
            <div class="content_sub_title">おみくじやガチャなど、好きなものに改造してみよう</div>
            <div class="start_button">
                <div>学習を開始 <i class="fa-solid fa-play fa-xs" style="color: #ffffff;"></i></div>
            </div>
        </div>

    </div>
</div>

    <!-- フッター -->

    <footer class="footer-color item-center padding-top-little padding-bottom-little">
        ©susaki-fac.inc
        </footer>


<script src="https://kit.fontawesome.com/12a4c3ee6d.js" crossorigin="anonymous"></script>
{% endblock %}
