p{
    font-size: 1.1em;
    margin:1.5em;
}
pre{
    font-size:1em;
    white-space: pre-wrap;
}
.star{
    background-color: white;
    border: 0px;
}
label{
    white-space: no-wrap;
}
.review{
    border-bottom:1px solid gray;
    padding:5px;
    padding-bottom:20px;
    padding-top:10px;
    margin-top:15px;
}