<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>top</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
  </head>
  <body class="screen-width">
    <header class="nav-color">
      <ul class="nav header-topmargin justify-content-end">
        <li class="nav-item">
          <a class="nav-link text-backcolor" href="#">教材一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled text-backcolor">ユーザー名</a>
        </li>
      </ul>
    </header>
    {% block content %}

    {% endblock %}
  </body>
  <footer class="footer-color item-center padding-top-little padding-bottom-little">
    ©susaki-fac.inc
  </footer>
</html>