{% extends "base.html" %}
{% block content %}
    <div class="main-screen-backcolor padding-top-normal padding-bottom-normal">
        <div class="row mypage-width">
            <div class="col-5 form-box margin-screen">
                <div class="padding-bottom-little bold">マイプロフィール</div>
                <div class="row item-center padding-bottom-little">
                    <div class="col bold">ユーザーネーム</div>
                    <div class="col">○○○○○○○○</div>
                </div>
                <div class="row item-center padding-bottom-little">
                    <div class="col bold">メールアドレス</div>
                    <div class="col">○○○○@○○○</div>
                </div>
            </div>
            <div class="col-5 form-box margin-screen">
                <div class="bold"></div>
            </div>
        </div>
    </div>
    <div class="main-screen-backcolor padding-bottom-normal">
      <div class="page-width">
        <div class="form-box">
          <div class="bold padding-bottom-little">あなたの学習状況</div>
          <div class="row padding-bottom-">
            <div class="col bold">教材名</div>
            <div class="col bold">理解度</div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}