{% extends "base.html" %}
{% block content %}
  <div class="main-screen-backcolor padding-top-normal padding-bottom-normal">
    <div class="form-center form-box">
      <form class="form-width">
        <div class="item-center user-register padding-top-normal padding-bottom-little">
            ユーザー登録
        </div>
        <div class="mb-3 padding-bottom-little">
          <label for="exampleInputEmail1" class="form-label">メールアドレス</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 padding-bottom-little">
            <label for="exampleInputEmail1" class="form-label">ユーザー名</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 padding-botton-little">
            <label for="inputPassword5" class="form-label">パスワード</label>
            <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
            <div id="passwordHelpBlock" class="form-text text-red padding-bottom-little">
            パスワードは8文字以上20文字以下で入力してください
            </div>
        </div>
        <div class="item-center padding-bottom-normal">
            <button type="submit" class="btn btn-primary">送信</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}