{% extends "base.html" %}
{% block content %}
<div class="main-screen-backcolor padding-top-normal padding-bottom-normal normal-fontsize">
  <div class="row mypage-width">
      <div class="col-5 form-box margin-screen box-shadow">
          <div class="padding-bottom-little bold mypage-fontsize padding-top-little-md">マイプロフィール</div>
          <div class="row item-center padding-bottom-little">
              <div class="col bold">ユーザーネーム</div>
              <div class="col">○○○○○○○○</div>
          </div>
          <div class="row item-center padding-bottom-little">
              <div class="col bold">メールアドレス</div>
              <div class="col">○○○○@○○○</div>
          </div>
      </div>
      <div class="col-5 form-box margin-screen item-center box-shadow">
          <div class="bold mypage-fontsize padding-top-little-md">あなたの総コメント数</div>
          <div class="big-font">29</div>
      </div>
  </div>
</div>

<div class="main-screen-backcolor padding-bottom-normal normal-fontsize">
<div class="page-width">
  <div class="form-box box-shadow">
    <div class="bold margin-left mypage-fontsize padding-top-little">あなたの学習記録</div>
    <div class="margin-right-left">
      <div class="item-center padding-bottom-little">
        <div class="comment">
          <div class="row comment-inner">
            <div class="col-4 bold">教材名</div>
            <div class="col-2 bold">理解度</div>
            <div class="col-6 bold">コメント</div>
          </div>
          <div class="row comment-inner">
            <div class="col-4">コマンドラインを学習しよう</div>
            <div class="col-2">星2</div>
            <div class="col-6">コマンドラインを理解できた</div>
          </div>
          <div class="row comment-inner">
            <div class="col-4">サイコロを作ろう</div>
            <div class="col-2">星4</div>
            <div class="col-6">サイコロを作れてよかった</div>
          </div>
          <div class="row comment-inner">
            <div class="col-4">環境構築をしよう</div>
            <div class="col-2">星3</div>
            <div class="col-6">無事に環境構築ができた</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
    {% endblock %}